# coding: utf-8

"""
    Quay Frontend

    This API allows you to perform many of the operations required to work with Quay repositories, users, and organizations. You can find out more at <a href=\"https://quay.io\">Quay</a>.  # noqa: E501

    OpenAPI spec version: v1
    Contact: support@quay.io
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from quay.api_client import ApiClient


class AppspecifictokensApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def create_app_token(self, body, **kwargs):  # noqa: E501
        """create_app_token  # noqa: E501

        Create a new app specific token for user.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_app_token(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param NewToken body: Request body contents. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_app_token_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_app_token_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_app_token_with_http_info(self, body, **kwargs):  # noqa: E501
        """create_app_token  # noqa: E501

        Create a new app specific token for user.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_app_token_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param NewToken body: Request body contents. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_app_token" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_app_token`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['*/*'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2_implicit']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/user/apptoken', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_app_token(self, token_uuid, **kwargs):  # noqa: E501
        """get_app_token  # noqa: E501

        Returns a specific app token for the user.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_app_token(token_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str token_uuid: The uuid of the app specific token (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_app_token_with_http_info(token_uuid, **kwargs)  # noqa: E501
        else:
            (data) = self.get_app_token_with_http_info(token_uuid, **kwargs)  # noqa: E501
            return data

    def get_app_token_with_http_info(self, token_uuid, **kwargs):  # noqa: E501
        """get_app_token  # noqa: E501

        Returns a specific app token for the user.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_app_token_with_http_info(token_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str token_uuid: The uuid of the app specific token (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['token_uuid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_app_token" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'token_uuid' is set
        if ('token_uuid' not in params or
                params['token_uuid'] is None):
            raise ValueError("Missing the required parameter `token_uuid` when calling `get_app_token`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'token_uuid' in params:
            path_params['token_uuid'] = params['token_uuid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2_implicit']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/user/apptoken/{token_uuid}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_app_tokens(self, **kwargs):  # noqa: E501
        """list_app_tokens  # noqa: E501

        Lists the app specific tokens for the user.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_app_tokens(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param bool expiring: If true, only returns those tokens expiring soon
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_app_tokens_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_app_tokens_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_app_tokens_with_http_info(self, **kwargs):  # noqa: E501
        """list_app_tokens  # noqa: E501

        Lists the app specific tokens for the user.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_app_tokens_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param bool expiring: If true, only returns those tokens expiring soon
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['expiring']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_app_tokens" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'expiring' in params:
            query_params.append(('expiring', params['expiring']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2_implicit']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/user/apptoken', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def revoke_app_token(self, token_uuid, **kwargs):  # noqa: E501
        """revoke_app_token  # noqa: E501

        Revokes a specific app token for the user.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.revoke_app_token(token_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str token_uuid: The uuid of the app specific token (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.revoke_app_token_with_http_info(token_uuid, **kwargs)  # noqa: E501
        else:
            (data) = self.revoke_app_token_with_http_info(token_uuid, **kwargs)  # noqa: E501
            return data

    def revoke_app_token_with_http_info(self, token_uuid, **kwargs):  # noqa: E501
        """revoke_app_token  # noqa: E501

        Revokes a specific app token for the user.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.revoke_app_token_with_http_info(token_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str token_uuid: The uuid of the app specific token (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['token_uuid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method revoke_app_token" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'token_uuid' is set
        if ('token_uuid' not in params or
                params['token_uuid'] is None):
            raise ValueError("Missing the required parameter `token_uuid` when calling `revoke_app_token`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'token_uuid' in params:
            path_params['token_uuid'] = params['token_uuid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2_implicit']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/user/apptoken/{token_uuid}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
